body {
	margin: 0;
	padding: 0;
	background-color: tan;
}

.ui.menu {
	border-radius: 0;
}

.landing__container {
	width: 100%;
	background-image: url('imgs/codeComputer.jpg');
	background-size: cover;
}
