<footer>
    <div class="ui bottom fixed menu">
        <div class="item">Footer</div>
    </div>
</footer>

<!-- Add default scripts here -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<% if (pageVars.scripts) { %>
    <% for (let script of pageVars.scripts) { %>
        <%- include('../scripts/' + script) %>
    <% } %>
<% } %>
