<div class="top-header" id="aboutme-header">
  <div class="ui raised very padded text segment">
    <div class="ui container">
        <h1 class="ui center aligned header">
          <img src="/imgs/devonDress.png" class="portrait" />
        </h1>
        <h1 class="ui center aligned header">
            Devon Troedel
        </h1>
        <p class="ui center aligned raised segment" id="aboutme-text">I am adding dummy text for this section at this time. This will later be filled with a small descriptive paragraph about myself.I am adding dummy text for this section at this time. This will later be filled with a small descriptive paragraph about myself.I am adding dummy text for this section at this time. This will later be filled with a small descriptive paragraph about myself.</p>
    </div>
  </div>
</div>